:root {
    // COLOURS
    --colour--black: #000000;
    --colour--white: #ffffff;
    --colour-silver: #e5e5e5;
    --colour-orange: #fca311;

    // FONTS
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--colour-silver);
    background-color: var(--colour--black);
}

iframe {
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 100%;

    padding: 2px;
    border: 2px solid var(--colour-orange);
    border-radius: 50px 0 50px 0;
}

img {
    max-width: 100%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
}

p {
    max-width: 70%;
    font-size: 1.25rem;

    & span {
        color: var(--colour-orange);
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.4fr 0.6fr;
}

.header {
    position: relative;

    background-image: url("../images/texture.png");
    background-attachment: fixed;

    & .side-bar {
        position: sticky;
        top: 0;

        // display: grid;
        // grid-template-rows: 0.7fr 0.3fr;
    }

    & .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        min-height: 90lvh;
        max-height: 90lvh;

        &__links {
            display: flex;
            flex-direction: column;
        }

        &__link {
            font-size: 1.75rem;
            width: fit-content;


            & span {
                display: block;
                height: 2px;
                background-color: var(--colour-orange);
            }

            & a {
                color: var(--colour--white);
                text-decoration: none;

                transition: 300ms ease-in;

                &:hover {
                    color: var(--colour-orange);

                    transition: 300ms ease-out;
                }
            }

            &:not(:last-child) {
                padding-bottom: 0.5rem;
            }
        }
    }

    & .footer {
        min-height: 10lvh;
        max-height: 10lvh;

        display: flex;
        justify-content: end;
        align-items: end;

        & a {
            text-decoration: none;
            color: var(--colour--white);
        }

        & i {
            font-size: 3rem;

            transition: 300ms ease-in;

            &:hover {
                color: var(--colour-orange);

                transition: 300ms ease-out;
            }
        }
    }
}

// .section {
//     min-height: 100lvh;
// }

.skills {
    & i {
        font-size: 5rem;
    }
}